<ion-view title="Dashboard">
  <ion-content class="has-header padding">
    <h1>Choose Spells for your battle against {{challenger.name}}</h1>
    <ion-list>
    <ion-checkbox class="item-icon-right" ng-repeat="spell in spells" type="item-text-wrap" href="#/tab/spells/{{spell.id}}">
        {{spell.name}}
      </ion-checkbox>
    </ion-list>
    <!-- <a href="#/tab/challenge">
      <button class="button button-outline button-positive">
        Challenge a Wizard
      </button>
    </a> -->
  </ion-content>
</ion-view>
