<ion-view title="Dashboard">
  <ion-content class="has-header padding landing-page">
    <h1 class="primary-title">
      Potter Battle!
    </h1>
    <br>
    <a ng-click="challengeWizard()">
      <button class="button button-full button-dark landing-page-button icon-right ion-wand">
        Challenge a Wizard
      </button>
    </a>
    <a ng-show="challenged">
      <button class="button button-full button-light landing-page-button icon-right ion-wand">
        You have been challenged!
      </button>
    </a>
  </ion-content>
</ion-view>
