<ion-view title="Dashboard">
  <ion-content class="has-header padding">
    <h1 class="title">Choose Spells for your battle against {{challenger.name}}</h1>
    <ion-list>
      <ion-checkbox class="item-icon-right" ng-repeat="spell in spells.spells" type="item-text-wrap" value="{{spell.id}}" ng-checked="spellsChosen.indexOf(spell) > -1" ng-click="toggleSelection(spell)" ng-disabled="maxSelected()">
        {{spell.name}}
      </ion-checkbox>
    </ion-list>
    <br>
    <a ng-click="sendChallenge({{challenger.id}})">
      <button class="button button-outline button-positive" >
        Send Challenge!
      </button>
    </a>
  </ion-content>
</ion-view>
