<ion-view title="Battle">
  <ion-content class="has-header padding">

    <h3 style="color:red;" ng-show="someone_won">{{winner}}  </h3>
    <center>
      <a ng-click="backHome()" ng-show="someone_won">Home</a>
    </center>

    <h2>Battle Screen!</h2>
    <div class ="battlenames">
      <br>
      <h3>
      {{battle.challenger.name || battle.challenger.email}}
      {{battle.challenger.challenger_hp}}
      </h3>
      vs
      <h3>
      {{battle.challengee.name || battle.challengee.email}}
      {{battle.challengee.challengee_hp}}
      </h3>
      <br>
    </div>

    <h3>Your Spells</h3>

    <a class="button button-block button-assertive" ng-repeat="spell in battle.challengee.spells" ng-click="castSpell(spell, battle.challenger.id)">
      {{spell.name}}
    </a>

    <h5>Their Spells</h5>
    <li ng-repeat="spell in battle.challenger.spells">
      {{spell.name}}
    </li>
      

  </ion-content>
</ion-view>
